# Для Docker используйте имя сервиса: postgres. Для локальной разработки: localhost
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth
JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=RS256
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=3
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
ALLOWED_ORIGINS=["https://gol1.my.project","https://gol2.my.project","http://localhost:3000"]
#COOKIE_DOMAIN=.my.project # ТОЧКА в начале
JWT_KEYS_DIR=keys
JWT_STORAGE_BACKEND=filesystem
JWT_ENV_PREFIX=JWT_KEY
COOKIE_SECURE=True          # Включить для HTTPS
COOKIE_SAMESITE=none          # только none чтобы refresh отправлялся с любого сабдомена
ENV_FILE_PATH=.env
