# Для Docker используйте имя сервиса: postgres. Для локальной разработки: localhost
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lyceum_auth
ALLOWED_ORIGINS=["http://localost:8000"]

ENV_FILE_PATH=.env
ROOT_PATH=/

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin

DOMAIN=sesc-it-team.ru
# Traefik TLS resolver: selfsigned или letsencrypt
TLS_RESOLVER=letsencrypt # selfsigned

AUTHENTIK_URL=http://localhost:9000
SA_AUTH_ADMIN_APP_API_TOKEN=
ALLOWED_ISSUERS=["http://localhost:9000/application/o/spravki-app/","http://localhost:9000/application/o/technical-support-app/","http://localhost:9000/application/o/auth-admin-app/"]
USERS_PATH=users

# auth admin app
CLIENT_ID=auth_admin_app_client_id
CLIENT_SECRET=auth_admin_app_client_secret
APPLICATION_SLUG=auth-admin-app
LOGIN_REDIRECT_URI=http://localhost:3000/auth/callback
SEND_ACCESS_TOKEN_AS_COOKIE=True
SEND_ACCESS_TOKEN_IN_JSON_RESPONSE=False
COOKIE_DOMAIN=users.sesc-it-team.ru
COOKIE_SAMESITE=strict
COOKIE_SECURE=True

# auth router path
ROUTER_PATH=/auth

# openfga
OPENFGA_SERVER_URL=http://localhost:8080
OPENFGA_STORE_ID=01KZ33X2846V0J84TJCB9NZ227
OPENFGA_AUTHORIZATION_MODEL_ID=01KZ3AFC7F2D1B8CT3JSZ1JJE9

# openfga m2m
OPENFGA_CLIENT_ID=openfga_client_id
OPENFGA_CLIENT_SECRET=openfga_client_secret
OPENFGA_SERVICE_ACCOUNT_USERNAME=sa-auth-admin-app
OPENFGA_SERVICE_ACCOUNT_APP_PASSWORD=auth_admin_app_app_password
OPENFGA_APPLICATION_SLUG=openfga
